body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: $color-primary;
}

.heading-secondary {
  font-size: 4.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 4rem;
}
